// ============================================================================ USER CONFIGURATIONS
$use-standard-hyperlink-decoration:		false;
$use-colour-for-input-focus-shadow:		true;



// ============================================================================ COLOURS
$col-background:            #f1f3f5;

$col-primary:               #00B1C1;
$col-primary-light:         #4cc8d3;
$col-primary-dark:          #008d9a;
$col-primary-smokey:        #99B9BC;
$col-primary-smokey-light:	lighten($col-primary-smokey, 25%);
// $col-primary:               #26a69a;
// $col-primary-light:         #3AB09E;
// $col-primary-dark:          #008080;
// $col-primary-smokey:        #889ea3;
// $col-primary-smokey-light:	lighten($col-primary-smokey, 25%);

$col-indigo:                #28464B;
$col-indigo-dark:           #022B3A;

$col-brown:                 #50514F;

$col-grey-1:                #DAD2D8;

$col-error:                 #DB3A34;
$col-error-alt:             #931621;

$col-text:                  #2c2c2c;
$col-text-subdued:          #7c7c7c;

$col-temp-1:                #3C4446;
$col-temp-2:                #082828;
/*
#0B312E
#0F423D
#092A28
 */

$col-forms-placeholder:		#cccccc;
$col-forms-label:			#586464;
$col-forms-helper:			#8c8c8c;
$col-forms-optional:		#8c8c8c;
$col-forms-disabled-label:	#afafaf;
$col-forms-disabled-input:	#cfcfcf;


// ============================================================================ PREFIX/SUFFIX
$forms-optional-prefix:		'[';
$forms-optional-suffix:		']';


// ============================================================================ FONTS
$base-font-size:            16px !default;
$font-heading-family:       'Oxygen', sans-serif;
$font-body-family:          'Nunito', sans-serif;
$font-body-weight:          300;
$font-body-lineheight:      1.5em;


// ============================================================================ MEDIA QUERIES
$breakpoints: (
	"phone":        400px,
	"phone-wide":   480px,
	"phablet":      560px,
	"tablet-small": 640px,
	"tablet":       768px,
	"tablet-wide":  1024px,
	"desktop":      1248px,
	"desktop-wide": 1440px
);
