@import "../../abstracts/abstracts";
//----------------------------------------------------------------------------------------------------------------------

html {
	@include box-sizing(border-box);
}

*, *:before, *:after {
	@include box-sizing(inherit);
}

html {
	background-color: $col-background;
}

img {
	width: 100%;
}