@import "../../abstracts/abstracts";
//----------------------------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,300i,400,400i,600');
@import url('https://fonts.googleapis.com/css?family=Aldrich');

* {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: $col-text;
}

// ============================================== HEADINGS
h1, h2, h3, h4, h5, h6 {
    font-family: 'Aldrich', sans-serif;
}



// ============================================== BODY TEXT
strong {
    color: inherit;
    font-weight: 600;
}

// ============================================== HYPERLINKS
a {
    color: $col-primary;
    text-decoration: none;
    outline: none;
	position: relative;
	font-weight: 400;
	@include transition(all, .25s, linear);

	@if $use-standard-hyperlink-decoration == false {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 2px;
			height: 1px;
			width: 0;
			background: $col-primary-dark;
			transition: width .2s ease-in-out;
		}
	}

    &:focus, 
    &:hover {
        color: $col-primary-dark;
		@if $use-standard-hyperlink-decoration == true {
			text-decoration: underline;
		}

		@if $use-standard-hyperlink-decoration == false {
			&:after {
				width: 100%;
			}
		}
    }
}