@import "../../abstracts/abstracts";
//----------------------------------------------------------------------------------------------------------------------

html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: 100%;

	.area-brand,
	.area-forms {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.area-brand {
		background-image: url('/public/img/auth-bg-2.jpeg');
		background-size: cover;
		background-position-x: center;

		.logo {
			max-width: 80%;

			img {
				width: 100%;
				max-width: 622px;

				&.shadow {
					-webkit-filter: drop-shadow( 5px 5px 5px #000 );
					filter: drop-shadow( 5px 5px 5px #000 );
				}
			}
		}
	}

	.area-forms {
		flex-direction: column;

		.bottom {
			position: absolute;
			bottom: 0;
			@include font-size(11);
			font-weight: 100;
			color: $col-text-subdued;
			text-align: center;

			img {
				display: block;
				margin: 0 auto;
			}
		}
	}

}