@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,300i,400,400i,600');
@font-face {
	font-family: 'Material Icons';
	src: url('../fonts/MaterialIcons-Regular.eot');
	src: url('../fonts/MaterialIcons-Regular.eot?#iefix')  format('embedded-opentype'),
	url('../fonts/MaterialIcons-Regular.woff') format('woff'),
	url('../fonts/MaterialIcons-Regular.ttf')  format('truetype'),
	url('../fonts/MaterialIcons-Regular.svg##{Material Icons}')  format('svg');
	font-weight: 400;
	font-style: normal;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

html {
	font-family: 'Nunito', sans-serif;
}


/* ------------------------------------------------------------------------------------------------------------------ */

/* .field {} */

.field .input-check {
	margin-bottom: 5px;
	line-height: 28px;
	position: relative;
	height: 28px;
}

.field .input-check input {
	position: absolute;
	clip: rect(0px, 1px, 1px, 0px);
	z-index: 0;
	opacity: 0;
	pointer-events: none;
}

.field .input-check label {
	line-height: 28px;
	display: block;
	padding-left: 34px;
	font-weight: 400;
	transition: color .2s linear;
}

.field .input-check label:before,
.field .input-check label:after {
	box-sizing: border-box;
	position: absolute;
	display: block;
	content: '';
	transition: all .2s linear;
	top: 2px;
	left: 1px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.field .input-check label:before {
	z-index: 10;
	border: 2px solid #26a69a;
	opacity: 1;
	border-radius: 2px;
}
.field .input-check label:after {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	content: 'check';
	color: #26a69a;
	font-size: 0px;
	line-height: 24px;
	text-align: center;
	opacity: 0;
	transition: all .2s ease-in-out;
}

input:checked + label {
	color: #26a69a;
}
/* input:checked + label:before {
	border-width: 3px !important;
} */
input:checked + label:after {
	opacity: 1 !important;
	font-size: 21px !important;
}

input:disabled + label {
	color: #dddddd;
}
input:disabled + label:before,
input:disabled + label:after {
	border-color: #dddddd !important;
}