@import "../../../abstracts/abstracts";
//----------------------------------------------------------------------------------------------------------------------

fieldset {
	padding: 20px;
	padding-bottom:  0;
	background: white(.25);
	margin-bottom: 2rem;
	border: 1px solid #dadada; //TODO: vars
	@include box-shadow(white(1), 1px, 1px, 1px, true);

	legend {
		@include font-size(18px);
		padding: 0 5px;
		font-weight: 400;
		color: $col-primary-dark;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

label {
	line-height: 1rem;
	color: $col-forms-label;
	font-weight: 400;
	@include transition(color, .2s, ease-in-out);

	strong {
		text-decoration: underline;
	}

	em {
		color: $col-forms-optional;
		font-weight: 400;
		&:before,
		&:after {
			content: $forms-optional-prefix;
			display: inline;
			padding: 0 2px;
		}
		&:after {
			content: $forms-optional-suffix;
		}
	}
}

.field {
	margin-bottom: 2rem;

	& > label {
		display: block;
		margin-bottom: 5px;
	}

	input {
		outline: none !important;
		font-family: $font-body-family;
		&::-moz-focus-inner {
			border: 0;
		}
		&:focus {
			outline: none;
		}
	}

	.helper {
		margin-top: 6px;
		display: block;
		font-weight: 300;
		@include font-size(12);
		color: $col-forms-helper;
	}

	&.has-error {
		& > label {
			color: $col-error !important;
		}
		.input {
			&:after {
				background: $col-error !important;
				width: 100%;
			}
			& > i.material-icons {
				color: $col-error !important;
			}
		}
		.error {
			margin-top: 6px;
			display: block;
			@include font-size(14);
			color: $col-error !important;
			font-weight: 400;
		}
	}

}