@import "../../../abstracts/abstracts";
//----------------------------------------------------------------------------------------------------------------------

button {
	@include box-sizing(border-box);
	border: none;
	padding: 11px 10px;
	outline: none;
	background: $col-primary;
	color: white(1);
	z-index: 1;
	@include transition(all, .2s, ease-in-out);
	cursor: pointer;

	&.has-icon {
		padding: 7px;
		i.material-icons {
			color: white(1);
			font-size: 22px !important;
		}
	}

	&:hover,
	&:focus {
		background: $col-primary-dark;
	}
}