@import "../../../abstracts/abstracts";
//----------------------------------------------------------------------------------------------------------------------

.field {
	.input-radio,
	.input-check {
		margin-bottom: 5px;
		line-height: calculateRem(28px);
		height: 28px;
		@include relative();

		label {
			line-height: inherit;
			display: block;
			@include font-size(14);
			padding-left: 34px;
			@include transition(color, .2s, linear);

			&:before,
			&:after {
				cursor: pointer;
				content: '';
				display: block;
				@include absolute(top 2px left 1px);
				@include box-sizing(border-box);
				@include transition(all, .25s, ease-in-out);
				z-index: 10;
			}
			&:before {
				@include box(24px);
				border: 2px solid $col-primary-smokey;
				background: white(.8);
			}
		}

		input {
			@include hide-ui-element;

			&:checked {
				& + label {
					//color: $col-primary;
				}
			}
			&:disabled {
				& + label {
					color: $col-forms-disabled-label !important;
					&:before,
					&:after {
						cursor: auto;
					}
					&:before {
						border-color: $col-forms-disabled-input !important;
					}
				}
			}
			&:hover,
			&:focus,
			&:active {
				& + label {
					color: $col-primary;
					&:before {
						border-color: $col-primary;
					}
				}
			}
		}
	}

	.input-radio {
		label {
			&:before,
			&:after {
				border-radius: 50%;
			}
			&:after {
				@include box(24px);
				border: 1px solid $col-primary-smokey;
				transform: scale(.1);
				@include opacity(0);
			}
		}
		input {
			&:checked {
				& + label {
					&:before {
						border-color: $col-primary;
						transform: scale(.5) translate(0, 0);
						background-color: $col-primary !important;
					}
					&:after {
						transform: scale(1);
						border-width: 2px;
						border-color: $col-primary;
						@include opacity(1);
					}
				}
			}
		}
	}

	.input-check {
		label {
			&:before {
				border-radius: 2px;
			}
			&:after {
				@extend .material-icons;
				content: 'check';
				@include font-size(0);
				color: $col-primary;
				width: 24px;
				line-height: 24px;
				text-align: center;
				@include opacity(0);
			}
		}
		input {
			&:checked {
				& + label {
					&:before {
						border-color: $col-primary;
					}
					&:after {
						@include opacity(1);
						@include font-size(22);
					}
				}
			}
		}
	}

	&.has-error {
		.input-radio,
		.input-check {
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
		}
		label {
			&:before {
				border-color: $col-error;
			}
		}
	}


	.input-switch {
		margin-bottom: 15px;
		line-height: 20px;
		@include relative();

		label {
			&:before,
			&:after {
				@include absolute(top 0 right 0);
				content: '';
				display: block;
				cursor: pointer !important;
				@include transition(all, .15s, ease-in-out);
			}
			&:before {
				width: 44px;
				height: 20px;
				background: lighten($col-primary-smokey, 20%);
				@include box-shadow($col-primary-smokey, 0, 0, 3px, true);
			}
			&:after {
				top: 3px;
				right: 3px;
				@include box(14px);
				background-color: #ffffff;
				transform: translateX(-24px);
			}
			&:hover {
				color: $col-primary;
			}
		}

		input {
			@include absolute(top 0 left 0);
			pointer-events: none;
			clip: rect(0px, 0px, 0px, 0px);
			z-index: 0;
			@include opacity(0);

			&:focus {
				& + label {
					color: $col-primary;

					&:before,
					&:after {
						cursor: auto;
					}
					&:before {
						background: lighten($col-primary-smokey, 24%);
					}
				}
			}
			&:checked {
				& + label {
					//color: $col-primary;
					&:before {
						background: $col-primary-light;
						@include box-shadow(darken($col-primary-light, 15%), 0, 0, 3px, true);
					}
					&:after {
						background: #ffffff;
						transform: translateX(0);
					}
				}
			}
			&:disabled {
				& + label {
					color: $col-forms-disabled-label !important;

					&:before,
					&:after {
						cursor: auto;
					}
					&:before {
						background: lighten($col-forms-disabled-input, 10%);
						@include box-shadow(#bbbbbb, 0, 0, 3px, true);
					}
					&:after {
						background: #f8f8f8;
					}
				}
			}
		}


		&:last-child {
			margin-bottom: 0;
		}
	}
}
