@import "../../../abstracts/abstracts";
//----------------------------------------------------------------------------------------------------------------------

.field {
	.input-select {
		display: flex;
		align-items: center;
		@include relative();
		background: #ffffff;
		@include box-shadow(black(0.2), 1px, 1px, 4px);
		@include transition(all, .2s, ease-in-out);
		@include opacity(.8);

		.selectr-container {
			.selectr-selected {
				z-index: 1;
			}
			.selectr-options-container {
				z-index: 10000;
				.selectr-input-container {
					border-bottom: 1px solid #9c9c9c;
					.selectr-input {
						border: none;
						outline-offset: inherit;
						width: 100%;
						&:-moz-placeholder {
							color: $col-forms-placeholder;
							opacity: 1;
							@include font-size(14);
						}
						&::-moz-placeholder {
							color: $col-forms-placeholder;
							opacity: 1;
							@include font-size(14);
						}
						&::-webkit-input-placeholder {
							color: $col-forms-placeholder;
							@include font-size(14);
						}
						&:-ms-input-placeholder {
							color: $col-forms-placeholder;
							@include font-size(14);
						}
						&::-ms-input-placeholder {
							color: $col-forms-placeholder;
							@include font-size(14);
						}
						&::placeholder {
							color: $col-forms-placeholder;
							@include font-size(14);
						}
					}
				}
				li {
					&.selectr-optgroup--label {
						background: $col-background;
						color: #8c8c8c;
						font-weight: 600;
					}
					&.selectr-option {
						&.active {
							background-color: rgba($col-primary, .8);
							color: white(.8);
						}
						&.selected {
							background-color: $col-primary;
							font-weight: 600;
							color: #ffffff;
						}
					}
				}
			}
			&.open {
				.selectr-selected {
					z-index: 10001;
				}
				.selectr-options-container {
					@if $use-colour-for-input-focus-shadow == true {
						@include box-shadow(rgba($col-primary-dark, 0.5), 1px, 1px, 8px);
					}
					@else {
						@include box-shadow(black(0.3), 1px, 1px, 6px);
					}
					z-index: 10000;
				}
			}
		}
	}

	&.has-focus,
	&.search-has-focus {
		@include opacity(1);
	}
}

