@import "../../../abstracts/abstracts";
//----------------------------------------------------------------------------------------------------------------------

.field {
	.input-text {
		display: flex;
		align-items: center;
		@include relative();
		background: #ffffff;
		@include box-shadow(black(0.2), 1px, 1px, 3px);
		@include transition(all, .2s, ease-in-out);
		@include opacity(.8);

		&:after {
			content: '';
			display: block;
			@include box(0, 2px);
			background: $col-primary-dark;
			@include absolute(bottom 0 left 0);
			@include transition(width, .2s, ease-in-out);
			z-index: 0;
		}

		& > i.material-icons {
			width: 30px;
			text-align: center;
			@include font-size(20px);
			color: $col-primary-smokey;
			@include transition(color, .2s, ease-in-out);
		}

		& > span.prefix,
		& > span.suffix {
			align-self: stretch;
			vertical-align: middle;
			padding: 0px 15px;
			line-height: 40px;
			color: #3c3c3c;
			font-weight: 600;
			background-color: #fbfbfb;
		}
		& > span.prefix {
			border-right: 1px solid #ebebeb;
		}
		& > span.suffix {
			border-left: 1px solid #ebebeb;
		}

		input {
			flex: 1;
			border: none;
			background: transparent;
			padding: 11px 5px;
			@include box-sizing(border-box);
			letter-spacing: 1px;
			color: black(1);

			&:-moz-placeholder {
				color: $col-forms-placeholder;
				opacity: 1;
			}
			&::-moz-placeholder {
				color: $col-forms-placeholder;
				opacity: 1;
			}
			&::-webkit-input-placeholder {
				color: $col-forms-placeholder;
			}
			&:-ms-input-placeholder {
				color: $col-forms-placeholder;
			}
			&::-ms-input-placeholder {
				color: $col-forms-placeholder;
			}
			&::placeholder {
				color: $col-forms-placeholder;
			}
		}
	}

	&.has-focus,
	&.search-has-focus {
		label,
		label > em {
			color: $col-primary-dark !important;
		}
		.input {
			@include opacity(1);
			@if $use-colour-for-input-focus-shadow == true {
				@include box-shadow(rgba($col-primary-dark, 0.5), 1px, 1px, 6px);
			}
			@else {
				@include box-shadow(black(0.3), 1px, 1px, 6px);
			}

			& > i.material-icons {
				color: $col-primary-dark;
			}

			&:after {
				width: 100%;
			}
		}
	}

	&.has-error {
		& > label,
		label > em {
			color: $col-error !important;
		}
		.input {
			@if $use-colour-for-input-focus-shadow == true {
				@include box-shadow(rgba($col-error, 0.5), 1px, 1px, 6px);
			}
		}
	}

	&.disabled {
		label,
		label > em {
			color: $col-forms-disabled-label;
		}
		.input {
			@include opacity(.5);
			input {
				cursor: not-allowed;
				color: $col-forms-disabled-input;
			}
		}
	}
}